body {
  font-family: 'Syne Mono', monospace;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 800px;
  
}

code {
  font-family: 'Syne Mono', monospace;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

.invalid-field{
  border-color: red !important;
  color: rgb(245, 97, 97);
  background-color: silver;
}

/* jumbotron */
.jumbotron{
box-shadow:

0 0 50px #fff,            /* outer white */
-4px 0 20px rgb(0, 17, 255),        /* outer left magenta */
7px 0 20px rgb(78, 240, 252);         /* outer right cyan */
}